<%= form_for Interest.new do |f| %>

<p><%= f.text_field :interest, :placeholder => "New Category", class:"left inline" %></p>
<%= f.submit "Stumble", :class => "button", :id => "interest-stumble" %>
<% end %>

</div>
