

<%= form_for @interest do |f| %>


<%= f.text_field :interest, :placeholder => "New Category", class:"left inline"  %></p>

<p><%= f.submit "Stumble", :class => "button", :id => "interest-stumble" %></p>
<% end %>

</div>
