<div class="interests">
<a class="button" href="/" data-reveal-id="new-category-modal">New Category</a>
	<% @interests.each do |interest| %>

			<p><%= link_to "Remove", interest_path(interest), method: :delete, class:"button tiny" %>
				<%= interest.interest.capitalize %></p>

	<% end %>
</div>