/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 
 */

 /*Basic styling*/

    body,html{
      border:0;
      padding:0;
      margin:0;
      background: #595959;
    }
    .search{
      height: 100px;
    }
    .row {
      max-width: 100%; 
    }
    
    #space, .space{
      padding: 10px !important;
    }
    .blue-logo {
      color: #007095 !important;
    }

 /*Footer Styling*/

    .footer {
      background: #333333;
      position: fixed;
      bottom: 0;
      width: 400px;
      height: 18px;

    }
    .footer a {
      color: #595959 !important;
      font-size: 12px;
    }
    .footer p{
      color: #007095 !important;
      font-size: 12px;
    }
/*GIF styling*/

    #gif-root, #gif-interest {
     	background-color: black;
     	position: absolute;
     	width: 100%;
     	height: 95%;
     }

    #gif-root, #gif-interest{
    	 background-repeat:no-repeat;
       background-size: cover;
       background-position:center center;
       margin: 0;
    }
    #white {
      color: white;
    }
    .white label{
      color: white;
    }

/*Interests Index Styling*/

.interests {
  margin:  0 258px;
  color: white;
  }


/*button styling*/

    button:focus {
      outline:0 !important;
    }
    #giphy-stumble {
      margin-right: 10px !important;
      background: #007095 !important; 
    }
    #giphy-stumble:hover{
      background-color:#005772 !important;
    }
    #interest-stumble {
      margin-right: 10px !important;
      background: #007095 !important; 
    }
    #interest-stumble:hover{ 
      background-color:#005772 !important;
    }


    #add-favorite:hover, #signup-button:hover{
      background-color: green !important;
    }
    .fi-widget{
      font-size: 20px;
    }

/*favorites page styling*/

    .favorites img{
      width: 300px;
      height: 220px;
      margin: 5px;
      filter: none;
      -webkit-filter: grayscale(0);
      }
    .favorites img:hover{

      filter: none;
      -webkit-filter: grayscale(0);
      filter: gray; 
      filter: grayscale(.5); 
      -webkit-filter: grayscale(.5); 

    }
    .show-image {
        position: relative;
        float:left;

    }
    .show-image:hover img{
        opacity:0.5;
    }

    .show-image #show-hide{
      position: absolute;
      display: none;
    }
    .show-image:hover #show-hide{
      display: block;
      top: 5px;
      right:5px;
    }
    

    .favorites {
     
      max-width: 950px;
      margin-left: auto;
      margin-right: auto;
      color: #6B6C70 ;
      background: #595959;

    }
    #up{
      top: 0px;
      margin-top: 0px;
    }
    .favorite-show{
      background:#595959;
    }
    .favorite-show p{
        margin-top: 15px;
        color: white;
        font-size: 15px;
        text-align: center;
    }
    .favorite-show img{
       background-color: black;
      position: absolute;
      width: 100%;
      height: 85%;
    }
    .media-stumble{
      display: none;
    }

/* response styling*/
    @media only screen and (max-width: 930px) {
      .favorites{
        max-width:650px;
        margin-left: auto;
        margin-right: auto;
      }

    }
    
    @media only screen and (max-width: 700px) {
      .interests{
        margin: 0 30px;
      }
    }
    @media only screen and (max-width: 638px) {
      .media-stumble {
        display: block;
        height: 35px;
      }
      .media-stumble #media-stumble, #media-interest-stumble{
             width: 100%;
      }
      #giphy-stumble{
        display: none;
      }
        
    }

    @media only screen and (max-width: 620px) {
      .favorites{
        max-width:325px;
        margin-left: auto;
        margin-right: auto;
      }
      
    }

/*Modal styling*/
    #sign-up-modal, #sign-in-modal, #new-category-modal, #remove-category-modal {
      background: rgba(51,51,51,.8); 
    }
    #sign-up-modal, #new-category-modal, #remove-category-modal,  #sign-in-modal p, h2{
      color: white;
      display: inline-block;
    }



